/*--------------------------------------------------------------------------------*/
/* Components - Header */
/*--------------------------------------------------------------------------------*/

.header {
  margin: 0 0 $row5;

  .title {
    margin-bottom: $row1;
  }

  .description {
    margin-bottom: $row3;
    // font-family: $slab;
  }
}
