extends ./_common/foundation

block basetag
  - PATH   = '.'
  - IMAGES = `${PATH}/images`

block meta
  - TITLE       = ''
  - KEYWORDS    = KEYWORDS
  - DESCRIPTION = DESCRIPTION
  - URL         = URL

block var
  - CLASS = 'index'
  - ID    = 'index'

block append scripts
  script(src=`${PATH}/scripts/index.js` defer)

block contents
  //- START : (Section Name)
  //- END : (Section Name)

  //-
  //- END : Index
  //-
