/*--------------------------------------------------------------------------------*/
/* Mixin */
/*--------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/* Hack
/*------------------------------------------------------------*/

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin hidetxt {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}



/*------------------------------------------------------------*/
/* Typography
/*------------------------------------------------------------*/

@mixin bold {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
}



/*------------------------------------------------------------*/
/* Media Query
/*------------------------------------------------------------*/

@mixin for-size ( $range ) {
	$mobile-upper-boundary:            768px;
	$tablet-portrait-upper-boundary:   900px;
	$tablet-landscape-upper-boundary: 1200px;
	$desktop-upper-boundary:          1800px;

	@if $range == mobile-only {
		@media (max-width: $mobile-upper-boundary) {
      @content;
    }
	}
  @else if $range == tablet-portrait-up {
    @media (min-width: #{$mobile-upper-boundary + 1}) {
      @content;
    }
  }
  @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  }
  @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  }
  @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}



/*------------------------------------------------------------*/
/* Responsive Sprite Image
/*------------------------------------------------------------*/

@mixin sprite-responsive($sprite){
  $sheet-w  : nth($sprite, 7);
  $sheet-h  : nth($sprite, 8);
  $sprite-w : nth($sprite, 5);
  $sprite-h : nth($sprite, 6);
  $offset-x : nth($sprite, 1);
  $offset-y : nth($sprite, 2);
  $bg-path  : nth($sprite, 9);

  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  font-size: 0;

  background-image: url($bg-path);
  background-size: floor($sheet-w / $sprite-w * 100 + 0%) floor($sheet-h / $sprite-h * 100 + 0%);
  background-position-x: ($offset-x / ($sheet-w - $sprite-w) * 100 + 0%);
  background-position-y: ($offset-y / ($sheet-h - $sprite-h) * 100 + 0%);

  // &::after {
  //   content: '';
  //   display: block;
  //   padding-top: ($sprite-h / $sprite-w * 100 + 0%);
  // }
}
