/*--------------------------------------------------------------------------------*/
/* Variables */
/*--------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/* Color
/*------------------------------------------------------------*/

/* Chromatic
/*------------------------------*/
$main:    #1c1c1c;
$accent:  #1c1c1c;
$base:    #1c1c1c;

/* Monochrome
/*------------------------------*/
$white:   #ffffff;
$black:   #1c1c1c;
$gray50:  #828282;
$gray0:   #e8e8e8;



/*------------------------------------------------------------*/
/* Typeface
/*------------------------------------------------------------*/
$serif: Garamond, serif;
$sans:  'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
$slab: 'Roboto Slab', serif;


/* Easing
/*------------------------------------------------------------*/
$easeInCubic:  cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);



/* Column, Vertical Rhythm
/*------------------------------------------------------------*/

/* Column
/*------------------------------*/
$col12: 90.63%;
$col8:  59.38%;
$col6:  43.75%;
$col4:  28.13%;
$col3:  20.31%;
$col2:  12.50%;
$col1:   4.69%;

/* Column
/*------------------------------*/
$mar1: 3.13%;

/* Vertical Rhythm
/*------------------------------*/
$row1: 16px;
$row2: $row1 * 2;
$row3: $row1 * 3;
$row4: $row1 * 4;
$row5: $row1 * 5;
$row6: $row1 * 6;
$row7: $row1 * 7;
$row8: $row1 * 8;
