doctype html
block basetag
block meta
block var
html(lang='ja')
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    include ./meta
    block styles
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Slab' type='text/css')
      link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css')
      link(rel='stylesheet' href=`${PATH}/bundle.css`)
    block scripts
      script(src=`${PATH}/bundle.js`)
      script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js')
      script.
        hljs.initHighlightingOnLoad();
  body
    div.body
      block header
        include ../_components/header
      block content
      block footer
        include ../_components/footer
